
body{
    background-color:#FCEBB6 ;
    color:#221811;
    font-family:Verdana, Arial;
    background-image: url("image/background.gif");
}

header{
    background-color: #D2B48C;
    height: 150px;
    background-image: url("image/javajamlogo.jpg"); 
    background-repeat: no-repeat;
}

h1{
    padding-top: 45px;
    padding-left: 220px;
    font-size:3em;
}

nav{
    text-align:center;
    font-weight:bold;
    font-size:1.5em;
    padding-top:10px;
    float:left;
    width: 200px;
}
nav a{
    text-decoration: none;
}

footer{
    background-color:#D2B48C;
    text-align:center;
    font-size: .60em;
    padding-bottom: 10px;
    border-top: 2px solid #221811;

}
#wrapper{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    background-color:#FEF6C2;
    min-width:900px;
    max-width:1280px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color:#231814;
}

h4{background-color:#D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    text-transform:uppercase;
    border-bottom:#221811;
    clear:left;
}
main{
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2em;
    margin-left: 200px;
    padding-top:0%;
    background-color:#FEF6C2;
    
}

main h2,main h3,main h4,main p,main div,main ul,main dl{
    padding-left:3em;
    padding-right:2em;
}

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow:auto;
}
img{
    padding-left: 10px;
    padding-right: 10px;
}

*{
    box-sizing: border-box;
}

#heroroad{
    background-image:url(image/heroroad.jpg);
    background-size:100%;
    height: 250px;
}

#heromugs{
    background-image:url(image/heromugs.jpg);
    background-size:100%;
    height: 250px;
}

#heroguitar{
    background-image: url(image/heroguitar.jpg);
    background-size:100%;
    height: 250px;
}

nav a:link{
    color:#FEF6C2;
}
nav a:visited{
    color:#D2B48C;
}
nav a:hover{
    color:#CC9933;
}

nav ul{
    list-style-type: none;
    padding-left:0;
}

.floatleft{
    float:left;
    padding-bottom:2em;
    padding-right:2em;
}

header, nav, main, footer{
    display:block;
}

table{
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
    margin: 50;
}

th,td{
    padding: 10px;
}

tr:nth-of-type(odd){
    background-color: #d2b48e;
}


form{
    padding: 2em;
}

label{
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
    }

input,textarea{
    margin-bottom: 1em;
    display: block;
}

#mySubmit{
    margin-left: 9.5em;
}

#herojobs{
    height: 250px;
    background-image:url(image/herojobs.jpg);
    background-size: 100% 100%;
}


